<nav class="flex align-items-center justify-content-between bg-sky position-sticky top-0 z-3 px-4 py-3">
    <div class="flex align-items-center">
        <a class="cursor-pointer hamburger-menu" (click)="expandTrigger()">
            <img
                src="assets/images/icons/right_arrow.png"
                alt=">>"
                [ngClass]="{ 'openingSideBar': openSideBar }"
                class="transition-all openingSideBar"
                style="width: 24px;"
            />
        </a>
    </div>
    <div class="flex flex-row gap-4 text-base">
        <div>
            <i class="pi cursor-pointer" [ngClass]="{'pi-moon':isDarkMode,'pi-sun':!isDarkMode}" (click)="toggleDarkMode()"></i>
        </div>
        <span class="text-base font-semibold">Sand Box</span>
    </div>
</nav>
