<nav class="navbar navbar-light bg-sky position-sticky top-0 z-3 justify-content-xs-between justify-content-md-between align-item-center row px-4">
    <div class="col-auto ps-0">
        <a class="hamburger-menu"(click)="expandTrigger()">
            <img src="assets/images/icons/right_arrow.png" alt=">>" [ngClass]="{ 'openingSideBar':openSideBar }" class="openingSideBar">
        </a>
    </div>
    <div class="col-auto">
        <a class="navbar-brand fw-bold" href="#">
            Sand Box
        </a>
    </div>
</nav>