<section *ngIf="this.authService.user$| async as user">
    <div class="grid gap-2">
        <div class="col-12 border-round p-4">
            <section class="container-fluid">
                <main>
                    <p-card class="profile-card">
                        <div class="grid gap-2">
                            <div class="col-12 text-center flex align-items-center justify-content-center">
                                <p-avatar
                                [image]="user.photoURL || 'assets/images/icons/bird.png'"
                                size="xlarge" shape="circle"></p-avatar>
                            </div>
                            <div class="col-12">
                                <h1 class="text-center">Welcome back {{ user.displayName || 'Anonymous' }}</h1>
                            </div>
                            <div class="col-12">
                                <div class="flex gap-1 flex-wrap justify-content-center">
                                    <p-chip >
                                        <i *ngIf="user.emailVerified"
                                            class="pi pi-verified mx-1" style="font-size: 1.2rem" 
                                            pTooltip="Verified" tooltipPosition="top">
                                        </i>
                                        <i *ngIf="!user.emailVerified"
                                            class="pi pi-at mx-1" style="font-size: 1.2rem" 
                                            pTooltip="Email" tooltipPosition="top">
                                        </i>
                                        {{ user.email || 'email@test.com' }}
                                       
                                    </p-chip>
                                    <p-chip >
                                        <i 
                                            class="pi pi-mobile mx-1" style="font-size: 1.2rem" 
                                            pTooltip="Mobile" tooltipPosition="top">
                                        </i>
                                        {{ '+91-' + (user.phoneNumber ||  'xxxxx-xxxxx') }}
                                    </p-chip>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </main>
            </section>
        </div>
    </div>
</section>