<nav>
    <ul class="nav" [ngClass]="{'exp-nav':expandSideBar}">
        <li class="nav-item" *ngFor="let route of routeItems">
            <a class="nav-link d-inline-flex flex-direction-column" (click)="slide()"
            [routerLink]="route.path !== '' ? [route.path] : null" >
                <i [ngClass]="[route.icon]" [ngStyle]="route.style"></i>
                <span class="route-name"  [ngClass]="{'exp-name':expandSideBar}">{{route.title}}</span>
            </a>
        </li>
    </ul>
</nav>
<app-sider *ngIf="showSlide"></app-sider>