.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.position-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container-fluid .main-content{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.side-bar {
    position: relative;
    flex-shrink: 0;
    display: flex;
    padding: 80px 0px;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 480px) {
    .side-bar {
        padding: 0;
        width: 0; 
        overflow: hidden;
    }
}

.active-page {
    flex: 1;
    height: 100vh;
    padding:2rem 15px;
    overflow-x: hidden;
    overflow-y: visible;
}
