@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
/*------- Variables Defination----------*/
$main-color: #7da0ff;

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
html {
  height:fit-content;
  width: fit-content;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}
.bg-sky{
  border-bottom: 1px solid var(--surface-border);
  background-color: var(--topbar-sticky-bg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

// Toast Style
.p-toast{
  top: 60px !important;
}
.p-toast , .p-toast-message{
  font-size: small;
}
.p-toast .p-toast-message .p-toast-message-content .p-icon:not(.p-toast-icon-close-icon) {
  width: 1.5rem !important;
  height: 1.5rem !important;
}