@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
/*------- Variables Defination----------*/
$main-color: #7da0ff;

::-webkit-scrollbar {
  display: none;
}
:root {
  --slider-bg-start: #4e44ff; /* Start: Sky blue */
  --slider-bg-middle: #3f35fe; /* Middle: Orange sunset */
  --slider-bg-end: #87CEEB; /* End: Sky blue */
  --scrollbar-thumb: #a3a3a3;
  --background-filter:#0000001d;
  --border-color:#0000001d;
  --70:rgba(0,0,0,0.7);
  --80:rgba(0,0,0,0.8);
  --90:rgba(0,0,0,0.9);
  --100:rgba(0,0,0,1);
}

.dark-theme {
  --slider-bg-start: #1a1a1a; /* Dark mode start color */
  --slider-bg-middle: #2a2a2a; /* Dark mode middle color */
  --slider-bg-end: #3a3a3a; /* Dark mode end color */
  --scrollbar-thumb: #4e44ff;
  --background-filter:#ffffff3b;
  --border-color:#ffffff;
  --70:rgba(255, 253, 255, 0.7);
  --80:rgba(255, 255, 255, 0.8);
  --90:rgba(255, 255, 255, 0.9);
  --100:rgb(255, 255, 255);
}
html {
  height:fit-content;
  width: fit-content;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-sky{
  border-bottom: 1px solid var(--surface-border);
  background-color: var(--topbar-sticky-bg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

// Toast Style
.p-toast{
  top: 60px !important;
}
.p-toast , .p-toast-message{
  font-size: small;
}
.p-toast .p-toast-message .p-toast-message-content .p-icon:not(.p-toast-icon-close-icon) {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

input:focus,input:focus-visible,textarea:focus,textarea:focus-visible{
  outline: none !important;
  box-shadow: none !important;
}
textarea{
  outline: none !important;
  box-shadow: none !important;
  background-color: inherit !important;
}

.p-tooltip{
  font-size: small;
}

.black70{
  color: var(--70);
}
.black80{
  color: var(--80);
}
.black90{
  color: var(--90);
}
.black100{
  color: var(--100);
}