<!-- <div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <div class="images-container">
    <img src="assets/images/photos/bg2.jpg">
    <img src="assets/images/photos/bg5.jpg">
    <img src="assets/images/photos/bg4.jpg">
    <img src="assets/images/photos/bg3.jpg">
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg w-96 text-center">
    <h2 class="text-2xl font-semibold mb-4">Welcome to SandBox</h2>

    <button (click)="login()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">
      Sign in with Google
    </button>
  </div>
</div> -->


<section class="container-fluid px-0 h-screen flex flex-col">
  <div class="slide-wrapper h-screen bg-gray-100 p-6">
    <div class="slides">
      <img src="assets/images/photos/bg1.jpeg" class="item">
      <img src="assets/images/photos/bg2.jpg">
      <img src="assets/images/photos/bg3.jpg">
      <img src="assets/images/photos/bg4.jpg">
      <img src="assets/images/photos/bg5.jpg">
    </div>
  </div>
  <div class="login-wrapper h-screen bg-white-100 p-6">
    <h2 class="text-2xl font-semibold mb-4">Welcome to SandBox</h2>
    
    <button (click)="login()" class="px-4 py-2 bg-blue-500 text-white rounded-lg btn">
      Sign in with Google
    </button>
  </div>
</section>